.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  align-items: center;
  border: solid 2px blue;
  color: lightskyblue;
}

.countName {
  text-align: center;
  border: solid 10px greenyellow;
  color: lightskyblue;
}

.score {
  text-align: center;
  border: solid black 1px;
}

.score-names {
  text-align: center;
  color: black;
}

.score-scores {
  text-align: center;
  color: red;
}
